body {
  font-family: 'PT Sans Narrow' !important;
  background-color: #ecf0f1;
}

h1 {
  font-size: 150px;
  color: #34495e;
}
p {
  font-size: 30px;
}
button {
  background-color: #34495e;
}
i {
  color: #ecf0f1;
}
mark {
  background-color: #1abc9c;
  color: #34495e;
}
.well {
  background-color: #ecf0f1;
  border-color: #34495e;
  border-width: 3px;
  padding-bottom: 0px;
}
.space {
  margin-bottom: 15px;
}
.break {
  margin-bottom: 15px;
}
.summary {
  border-width: 1px;
}
